<a href="https://colab.research.google.com/github/Kirancs226/ML-Pro1/blob/main/ML_Lab1(Data_Pre_Processing)_Movies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [4]:
df = pd.read_csv("/content/movies.csv")

In [ ]:
print("Missing values before processing:\n", df.isnull().sum())

Missing values before processing:
 MOVIES         0
YEAR         644
GENRE         80
RATING      1820
ONE-LINE       0
STARS          0
VOTES       1820
RunTime     2958
Gross       9539
dtype: int64

In [5]:
for col in df.columns:
    if df[col].isnull().sum() > 0:
        # if df[col].dtype == "object":  # Categorical: Fill with mode
            df[col].fillna(df[col].mode()[0], inplace=True)
        # else:  # Numerical: Fill with mean
        #     df[col].fillna(df[col].mean(), inplace=True)

<ipython-input-5-fe73771b09cc>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [6]:
print("Missing values after processing:\n", df.isnull().sum())

Missing values after processing:
 MOVIES      0
YEAR        0
GENRE       0
RATING      0
ONE-LINE    0
STARS       0
VOTES       0
RunTime     0
Gross       0
dtype: int64

In [7]:
df.to_csv("/content/cleaned_data.csv", index=False)
print("Cleaned data saved to 'Movies_cleaned_data.csv'.")

Cleaned data saved to 'Movies_cleaned_data.csv'.

# **Encoding Operation**




# **1.** Label Encodin

In [8]:
categorical_cols = df.select_dtypes(include=['object']).columns

In [9]:
print(categorical_cols)

Index(['MOVIES', 'YEAR', 'GENRE', 'ONE-LINE', 'STARS', 'VOTES', 'Gross'], dtype='object')

In [12]:
label_encoder = LabelEncoder()
df_label_encoded = df.copy()
for col in categorical_cols:
    df_label_encoded[col] = label_encoder.fit_transform(df_label_encoded[col])

In [14]:
print("\nLabel Encoded Data:")
print(df_label_encoded)

Label Encoded Data:
      MOVIES  YEAR  GENRE  RATING  ONE-LINE  STARS  VOTES  RunTime  Gross
0       1139   338     60     6.1      1548   6057   1656    121.0      1
1       3719   339    112     5.0      7482    622   1110     25.0      1
2       6022   222    387     8.2      6371    305   3938     44.0      1
3       4621   255    123     9.2      2222   1476   2777     23.0      1
4        836   338     31     7.2      1108   5543   3513     24.0      1
...      ...   ...    ...     ...       ...    ...    ...      ...    ...
9994     325   339     86     7.2      1744   1975   3513     24.0      1
9995      20   339    112     7.2      1744      0   3513     24.0      1
9996     139   342    350     7.2      1744   5901   3513     24.0      1
9997     325   339     86     7.2      1744   4907   3513     24.0      1
9998     325   339     86     7.2      1744   4908   3513     24.0      1

[9999 rows x 9 columns]

#**2.** One-Hot Encoding

In [15]:
df_one_hot_encoded = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

In [16]:
print("\nOne-Hot Encoded Data:")
print(df_one_hot_encoded.head())

One-Hot Encoded Data:
   RATING  RunTime  MOVIES_ 1899  MOVIES_ 3Below: Tales of Arcadia  \
0     6.1    121.0         False                             False
1     5.0     25.0         False                             False
2     8.2     44.0         False                             False
3     9.2     23.0         False                             False
4     7.2     24.0         False                             False

   MOVIES_ 50M2  MOVIES_ 7Seeds  MOVIES_ 800 metros  MOVIES_ A Suitable Boy  \
0         False           False               False                   False
1         False           False               False                   False
2         False           False               False                   False
3         False           False               False                   False
4         False           False               False                   False

   MOVIES_ Ada Twist, Scientist  MOVIES_ After Life  ...  Gross_$89.26M  \
0                         False               False  ...          False
1                         False               False  ...          False
2                         False               False  ...          False
3                         False               False  ...          False
4                         False               False  ...          False

   Gross_$89.30M  Gross_$90.29M  Gross_$92.12M  Gross_$93.74M  Gross_$94.90M  \
0          False          False          False          False          False
1          False          False          False          False          False
2          False          False          False          False          False
3          False          False          False          False          False
4          False          False          False          False          False

   Gross_$95.86M  Gross_$96.52M  Gross_$97.10M  Gross_$97.69M
0          False          False          False          False
1          False          False          False          False
2          False          False          False          False
3          False          False          False          False
4          False          False          False          False

[5 rows x 28786 columns]